.goal-form {
    width: 200px;
    height: 120px;
    padding: 30px;
    margin: 20px auto;
    border: 2px double blue;
    overflow: scroll;
    overflow-x: scroll;
}
.container h2 {
    text-align: center;
}
.form-row {
    margin: 10px;
}
.form-row input {
    width: 100%;
    height: 20px;
    border-radius: 3px;
}
.row {
    display: flex;
    position: relative;
    right: 22px;
}
.row input {
    margin-left: 5px;
    border-radius: 3px;
    height: 20px;
}
.btn {
    background-color: orange;
    border-radius: 5px;
    padding: 3px 8px;
    position: relative;
    left: 10px;
    border: 2px solid transparent;
}
#btn1 {
    background-color:lightskyblue;
    border-radius: 5px;
    padding: 3px 8px;
    position: relative;
    left: 10px;
    color: black;
    border: 2px solid transparent;
}
.data-table {
    display: flex;
    justify-content: center;
}
table {
    border-collapse: collapse;
    border: 2px solid black;
}
tr,
th,
td {
    border: 2px solid black;
    padding: 10px;
}